# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env

# PostgreSQL data directory
data/postgres/
.DS_Store

# Utils directory with videos and temporary files
utils/